In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# Cleaning categorical data

In [4]:
data = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')

In [64]:
data.head()
data.shape #9134,24

(9134, 24)

## 2. Find all of the categorical data. Save it in a categorical_df variable.

In [16]:
data['Effective To Date']=pd.to_datetime(data['Effective To Date'])
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [68]:
categorical_df= data.select_dtypes([object])
categorical_df.head()

,Customer,State,Response,Coverage,Education,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,basic,bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,extended,bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,extended,bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,basic,bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,basic,bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

## 3.Check for NaN values.

In [18]:
categorical_df.isna().sum()

Customer            0
State               0
Response            0
Coverage            0
Education           0
EmploymentStatus    0
Gender              0
Location Code       0
Marital Status      0
Policy Type         0
Policy              0
Renew Offer Type    0
Sales Channel       0
Vehicle Class       0
Vehicle Size        0
dtype: int64

In [19]:
col_cat=list(categorical_df.columns.values)
col_cat

['Customer',
 'State',
 'Response',
 'Coverage',
 'Education',
 'EmploymentStatus',
 'Gender',
 'Location Code',
 'Marital Status',
 'Policy Type',
 'Policy',
 'Renew Offer Type',
 'Sales Channel',
 'Vehicle Class',
 'Vehicle Size']

## 4. Check all unique values of columns.

In [21]:
column_values = categorical_df[['State',  'Response',  'Coverage',  'Education',  'EmploymentStatus', 'Gender', 
'Location Code', 'Marital Status', 'Policy Type', 'Policy', 'Renew Offer Type',
 'Sales Channel',  'Vehicle Class',  'Vehicle Size']].values
df2 = np.unique(column_values)
display(df2)

array(['Agent', 'Arizona', 'Bachelor', 'Basic', 'Branch', 'California',
       'Call Center', 'College', 'Corporate Auto', 'Corporate L1',
       'Corporate L2', 'Corporate L3', 'Disabled', 'Divorced', 'Doctor',
       'Employed', 'Extended', 'F', 'Four-Door Car',
       'High School or Below', 'Large', 'Luxury Car', 'Luxury SUV', 'M',
       'Married', 'Master', 'Medical Leave', 'Medsize', 'Nevada', 'No',
       'Offer1', 'Offer2', 'Offer3', 'Offer4', 'Oregon', 'Personal Auto',
       'Personal L1', 'Personal L2', 'Personal L3', 'Premium', 'Retired',
       'Rural', 'SUV', 'Single', 'Small', 'Special Auto', 'Special L1',
       'Special L2', 'Special L3', 'Sports Car', 'Suburban',
       'Two-Door Car', 'Unemployed', 'Urban', 'Washington', 'Web', 'Yes'],
      dtype=object)

## 5. Check dtypes. Do they all make sense as categorical data?

In [23]:
data.dtypes
#Now it feels ok, but the date column has become  datetime object. The rest of columns are ok.

Customer                                 object
State                                    object
Customer Lifetime Value                 float64
Response                                 object
Coverage                                 object
Education                                object
Effective To Date                datetime64[ns]
EmploymentStatus                         object
Gender                                   object
Income                                    int64
Location Code                            object
Marital Status                           object
Monthly Premium Auto                      int64
Months Since Last Claim                   int64
Months Since Policy Inception             int64
Number of Open Complaints                 int64
Number of Policies                        int64
Policy Type                              object
Policy                                   object
Renew Offer Type                         object
Sales Channel                            object
Total Claim Amount                      float64
Vehicle Class                            object
Vehicle Size                             object
dtype: object

## 6.  Does any column contain alpha and numeric data? Decide how to clean it.

'Policy' and 'Renew Offer Type' contain numbers and alpha, but I would still refer it as a categorical data. As I am
not sure that Offer1, Offer2, Offer3 and Offer4 can become a numerical, as in numbers 4th will be bigger than 1 and the 
model will work with it as with the number. Same idea applies for policy. Also I am not going to change the customer column, it's a unique value, that will not go to the model at all.

## 7 Would you choose to do anything else to clean or wrangle the categorical data? Comment your decisions.

In [65]:
categorical_df['Policy'].value_counts()
#I decided to combine L1,L2 and L3  and not by personal, corporate and special, as special will be still very small to be 
#representative -around 350.

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: Policy, dtype: int64

In [67]:
categorical_df[['Policy Type']].shape

(9134, 1)

I will do here part of question number 9, as I need data before I did combination of L1,L2,L3. I will split the first word and compare Policy Type and Policy

In [74]:
test=categorical_df.copy()
test['Policy']=test['Policy'].apply(lambda x: x.split(' ')[0])
test['Policy Type']=test['Policy Type'].apply(lambda x: x.split(' ')[0])
test['Policy Type'].equals(test['Policy'])
#So this true means both columns have same data. I will continue answering question 9 all the way at the bottom.

True

In [66]:
categorical_df['Policy'] = np.where(categorical_df['Policy'].isin(['Personal L3','Corporate L3','Special L3']) , 'Combine L3', categorical_df['Policy'])
categorical_df['Policy'] = np.where(categorical_df['Policy'].isin(['Personal L2','Corporate L2','Special L2']) , 'Combine L2', categorical_df['Policy'])
categorical_df['Policy'] = np.where(categorical_df['Policy'].isin(['Personal L1','Corporate L1','Special L1']) , 'Combine L1', categorical_df['Policy'])
categorical_df['Policy'].value_counts()

C:\Users\tanya\AppData\Local\Temp\ipykernel_25212\3187836676.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categorical_df['Policy'] = np.where(categorical_df['Policy'].isin(['Personal L3','Corporate L3','Special L3']) , 'Combine L3', categorical_df['Policy'])
C:\Users\tanya\AppData\Local\Temp\ipykernel_25212\3187836676.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categorical_df['Policy'] = np.where(categorical_df['Policy'].isin(['Personal L2','Corporate L2','Special L2']) , 'Combine L2', categorical_df['Policy'])
C:\Users\tanya\AppData\Local\Temp\ipykernel_25212\3187836676.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categorical_df['Policy'] = np.where(categorical_df['Policy'].isin(['Personal L1','Corporate L1','Special L1']) , 'Combine L1', categorical_df['Policy'])

Combine L3    4588
Combine L2    2881
Combine L1    1665
Name: Policy, dtype: int64

In [33]:
categorical_df['Coverage'].value_counts()

Basic       5568
Extended    2742
Premium      824
Name: Coverage, dtype: int64

In [41]:
def cleanCoverage(x):
    x = x.lower()
    if 'basic' in x:
        return "basic"
    elif 'extended' in x:
        return "extended"
    elif 'premium' in x:
        return 'extended'
   

#data['operation'] = list(map(cleanOperation, data['operation']))
categorical_df['Coverage'] = categorical_df['Coverage'].apply(cleanCoverage)
categorical_df['Coverage'].value_counts()

C:\Users\tanya\AppData\Local\Temp\ipykernel_25212\1092359894.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categorical_df['Coverage'] = categorical_df['Coverage'].apply(cleanCoverage)

basic       4861
extended    3154
Name: Coverage, dtype: int64

In [37]:
categorical_df['EmploymentStatus'].value_counts()

Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: EmploymentStatus, dtype: int64

In [38]:
categorical_df = categorical_df[~categorical_df['EmploymentStatus'].isin(['Medical Leave', 'Disabled', 'Retired'])]
#removing the data that has small part in the set

In [39]:
categorical_df['EmploymentStatus'].value_counts()

Employed      5698
Unemployed    2317
Name: EmploymentStatus, dtype: int64

In [40]:
def cleanEducation(x):
    x = x.lower()
    if 'bachelor' in x:
        return "bachelor"
    elif 'college' in x:
        return "college"
    elif 'high school or below' in x:
        return 'high school'
    else:
        return 'bachelor'

#data['operation'] = list(map(cleanOperation, data['operation']))
data['Education'] = data['Education'].apply(cleanEducation)
data['Education'].value_counts()
#all the Master and Doctor I put into Bachelor part. Good level of education.

bachelor       3831
college        2681
high school    2622
Name: Education, dtype: int64

## 8. Compare policy_type and policy. What information is contained in these columns. Can you identify what is important?

If we look at both columns, data looks very similar, the type of auto: Personal, Corporate or special - will be repeated in both columns.
But because I combined data by L1,L2,L3 I will keep my decision abd keep Policy Type as well.

In [58]:
categorical_df[['Policy']].shape

(8015, 1)

In [57]:
categorical_df['Policy Type'].value_counts()

Personal Auto     5943
Corporate Auto    1742
Special Auto       330
Name: Policy Type, dtype: int64

In [55]:

categorical_df[['Policy Type']].shape

(8015, 1)

## 9. Check number of unique values in each column, can they be combined in any way to ease encoding? Comment your thoughts and make those changes.

ANother idea, could be to combine those Policy Type and Policy in 1 column and keep only Personal Auto and Corporate, the data of special auto I will combine with corporate. I am checking if they contain same info a little bit above.

In [75]:
def cleanPolicyType(x):
    x = x.lower()
    if 'personal auto' in x:
        return "personal auto"
    elif 'corporate auto' in x:
        return "corporate auto"
    else:
        return 'corporate auto'

categorical_df['Policy Type'] = categorical_df['Policy Type'].apply(cleanPolicyType)
categorical_df['Policy Type'].value_counts()

C:\Users\tanya\AppData\Local\Temp\ipykernel_25212\1429932194.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categorical_df['Policy Type'] = categorical_df['Policy Type'].apply(cleanPolicyType)

personal auto     6788
corporate auto    2346
Name: Policy Type, dtype: int64